body{
    font-family: 'Poppins', sans-serif;
}
/*header-section*/
.fixed-top{
    background-color: #F0FFF0!important;
}
.container-margin-top{
    margin-top: 60px;
}
.header-section{
    background-color: #F0FFF0;
}
.header-content h2{
    font-size: 42px;
}
.navbar-light .navbar-nav .nav-link {
   color: #000000;
}
.sign-in{

    background-color: #21B573;
    border-radius: 40px;
    padding: 6px 20px 5px 20px!important;
}
/*header section ends*/

/*article section starts*/
.article-text-color-red{
    color: #FD511A;
}
.article-text-btn{

    background-color: #21B573;
    border-radius: 33px;
    width: 153px;
    height: 43px;
    border: none;

}

.article-section .card-2{
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 10px 20px lightgray;
}
.background-color-card{
    border: none;
    background-color: #F0FFF0!important;
}

/*article section ends*/


/*online-course section starts*/
.online-course .card-deck .card{
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 10px 20px lightgray;
}
/*online-course section ends*/


/*testimonial section starts*/


.testimonial-section p{
    font-size: 16px;
}
/*testimonial section ends*/

/*footer*/
footer{
    background-color: #282531;
}
.pointer{
    cursor: pointer;
}
.copyright h6{
    font-size: 16px;
}
@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 35px;
        padding-left: 4px;
    }
}
